/* Global Styling */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(219, 219, 219);
}

/* Hidden Object */

.hidden{
    display: none !important;
}

/* Wrappers  */

.game-wrapper{
    display: flex;
    text-align: center;
    background-color: rgb(219, 219, 219);
}

.game-wrapper > *{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}

/* Header */

header{
    height: 20%;
    padding: 25px;
    background-color: rgb(151, 151, 151);
}

.header{
    text-align: center;
    font-size: 45px;
    color: white;
}

#letter-o{
    display: inline-block;
    text-align: center;
    font-size: 45px;
    color: rgb(214, 62, 2);
}

/* Start */

#start-button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    border: 3px solid rgb(151, 151, 151);
    transition: 0.8s;
}

#start-button:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(214, 62, 2);
    border: 3px solid rgb(214, 62, 2);
}

#start-button-container{
    padding: 36vh 0px 36vh 0px;
    display: flex;
    justify-content: center;
}

/* How to Play, Time & Click Counter */

.how-to-play{
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(197, 197, 197);
}

#time{
    border-radius: 5px;
    background-color: rgb(151, 151, 151);
}

#pairs-found{
    border-radius: 5px;
    background-color: rgb(151, 151, 151);
}

#click-counter{
    border-radius: 5px;
    background-color: rgb(151, 151, 151);
}

/* Game Field */

.container{ 
    display: flex;
    justify-content: center;
}

.game-field{
    height: 650px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    perspective: 2000px;
}

/* Cards */

.card{
    width: calc(25% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.2s;
    transform-style: preserve-3d;
    border: 3px solid rgb(122, 122, 122);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.front{
    width: 95%;
    padding: 33px 0px 0px 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.back{
    width: 95%;
    padding: 33px 0px 0px 5px;
    position: absolute;
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
}

/* Anmimations */

.card:active{
    transform: scale(.97);
    transition: .3s;
}

.card.flip{
    transform: rotateY(180deg);
}

/* Socials Bar */

.socials-bar{
    height: 20%;
    padding: 25px;
    background-color: rgb(151, 151, 151);
    text-align: center;
}

.fab{
    font-size: 30px;
    transition: 0.4s;
}

.icon{
    display: none;
}

.divider{
    display: none;
}

a{
    padding: 10px;
    color: black;
}

a:hover{
    color: rgb(202, 57, 0);
}

/* Pop Up */

#pop-up{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#congrats-container{
    margin: 80px auto;
    height: 35%;
    width: 80%;
    background-color: rgba(151, 151, 151, 0.9);
    display: flex;
    justify-content: center;
    text-align: center;
}

#congrats{
    padding: 40px 0px 0px 0px;
}

#completed{
    padding: 40px 0px 0px 0px;
}


.content{
    padding: 5px 0px 5px 0px;
}

#play-again{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    border: 3px solid rgb(151, 151, 151);
    transition: 0.8s;
}

#play-again:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(214, 62, 2);
    border: 3px solid rgb(214, 62, 2);
}

/* Media Queries */

@media all and (min-width: 450px){
    .socials-bar{
        height: 20%;
        padding: 25px;
        background-color: rgb(151, 151, 151);
        text-align: center;
    }

    .fab{
        font-size: 16px;
    }
    
    .icon{
        display: inline-block;
    }
    
    .divider{
        display: inline-block;
    }    
}

@media all and (max-width: 450px){
    .header{
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
    }

    #congrats-container{
        height: 40%;
    }
}